<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

	<div class="well text-center">
		<h3> 당신만 알고 있는 맛집을 알려주세요</h3>
	</div>

	<%= render :partial => "foods/posts" %>
</div>




